<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="baidu-site-verification" content="code-8gGOibEXMj" />
    <meta name="baidu-site-verification" content="code-Toh8kQYN7N" />
    <meta name="google-site-verification" content="r3Cw4aIKBFXcYVnB8J-bxaQozYY6BHsoE3q5soJN3Po" />
    <meta name="msvalidate.01" content="C5E4D0D01152A883DDA407CDCE62E1DA" />
    <meta name='description' content='A personal blog that shares computer vision papers'>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    
    
        <link rel="shortcut icon" href="/images/avatar.jpg">
    
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/css/main.css">

    
    







    
    
    
        <script>
  if (typeof MathJax === 'undefined') {
    window.MathJax = {
      loader: {
        
            load: ['[tex]/mhchem'],
        
        source: {
          '[tex]/amsCd': '[tex]/amscd',
          '[tex]/AMScd': '[tex]/amscd'
        }
      },
      tex: {
        inlineMath: {'[+]': [['$', '$']]},
        
            packages: {'[+]': ['mhchem']},
        
        tags: 'ams'
      },
      options: {
        renderActions: {
          findScript: [10, doc => {
            document.querySelectorAll('script[type^="math/tex"]').forEach(node => {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            });
          }, '', false],
          insertedScript: [200, () => {
            document.querySelectorAll('mjx-container').forEach(node => {
              let target = node.parentNode;
              if (target.nodeName.toLowerCase() === 'li') {
                target.parentNode.classList.add('has-jax');
              }
            });
          }, '', false]
        }
      }
    };
    (function () {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
      script.defer = true;
      document.head.appendChild(script);
    })();
  } else {
    MathJax.startup.document.state(0);
    MathJax.texReset();
    MathJax.typeset();
  }
</script>
          

    
    
    
    
    <title>
          
            CV home
        
    </title>
    
    
<meta name="generator" content="Hexo 5.4.0"></head>

<body>
    <div id="app">
        <v-app>
            <v-content id="page">
                <v-container fluid>
                    <v-row>
                        <v-col cols="2" class="d-none d-md-block">
                            <div id="sidebar" class="float-right">
    <a href="/" rel="home">
        <v-avatar size=96>
            <img id="logo" src="/images/avatar.jpg">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="/">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="/categories/">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="/tags/">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        
            
            <v-list-item href="/archives/" link>
            <v-list-item-icon><v-icon>archive</v-icon></v-list-item-icon>
            <v-list-item-content>
                Archives
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="https://space.bilibili.com/5567932/article" link>
            <v-list-item-icon><v-icon>rss_feed</v-icon></v-list-item-icon>
            <v-list-item-content>
                b站专栏
            </v-list-item-content>
            </v-list-item>
        
    </v-list>
    <v-divider></v-divider>
    
        <v-list id="sub-menu" class="font-weight-medium" dense>
            
                
                    <v-list-item href="/categories/tracking/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="18" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>目标跟踪</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
        </v-list>    
    

    <div id="footer">
        <div class="footer-social">
            
                
                <v-btn icon href="mailto:zjphust@gmail.com" target="_blank">
                    <v-icon>fas fa-envelope</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://github.com/kongbia" target="_blank">
                    <v-icon>fab fa-github</v-icon>
                </v-btn>
            
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    Total Visitors <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            
            <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; 2020 - 2021 
                zjp
            </span>
        </div>
    </div>
</div>

                        </v-col>
                        <v-col cols="12" md="10">
                            <v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="/" rel="home">CV home</a>
      </div>
      <div id="site-description">A personal blog that shares computer vision papers</div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,true)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          
            
            <v-btn icon href="/archives/">
              <v-icon>archive</v-icon>
            </v-btn>
          
            
            <v-btn icon href="https://space.bilibili.com/5567932/article">
              <v-icon>rss_feed</v-icon>
            </v-btn>
          
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,true)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>

                            <v-card class="elevation-2 index-card">
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-08-07
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/ICCV2021/ >ICCV2021</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/matching/ >matching</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/46-AutoMatch/">Learn to Match: Automatic Matching Network Design for Visual Tracking</a>
      </div>
      
      <div class="index-article-content">
        
          
论文 代码
Motivation本文聚焦于孪生跟踪算法的匹配过程，目前主流的互相关操作是启发式设计的，严重依赖人工经验，并且单一的匹配方法无法适应各种复杂的跟踪场景。因此，本文引入了6种新的匹配算子来替代互相关。通过分析这些算子在不同跟踪挑战场景下的适应性，作者发现可以将它们结合起来进行互补，并借鉴NAS思想提出一种搜索方法 binary channel manipulation (BCM) 探索这些匹配算子的最优组合。
Analysis of Matching Operators首先介绍本文采用的6种匹配算子，Concatenation, Pointwise-Addition , P...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/46-AutoMatch/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-08-07
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/transform/ >transform</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/ICCV2021/ >ICCV2021</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/45-HiFT/">HiFT: Hierarchical Feature Transformer for Aerial Tracking</a>
      </div>
      
      <div class="index-article-content">
        
          
论文 代码
Motivation现有的孪生跟踪算法大多是基于相似得分图对目标对象进行分类和回归，使用单一的相似图会降低复杂场景下的定位精度，而像SiamRPN++那样单独使用多个相似图分别进行预测又会引入较大计算负担，不适用于移动设备。因此，本文提出一种 hierarchical feature transformer (HiFT) 对多个层级的相似图进行融合，既可以捕获全局的依赖关系，又可以高效地学习多层级特征之间的依赖关系。
在介绍本文方法前，我们先分析经典的transformer架构应用于目标跟踪任务中的难点。

预定义的(或学习的)解码query在面对任意跟踪对象时很难保持有效...
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/45-HiFT/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-07-01
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Domain-adaption/ >Domain adaption</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/44-DASiamRPN/">Domain Adaptive SiamRPN++ for Object Tracking in the Wild</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
Motivation基于孪生网络的跟踪算法均假定训练和测试数据遵循相同的分布，然而在正常图像上训练的跟踪器并不能保证在其他领域的数据上（如雨雾天气的序列）也表现良好，即存在域偏移（domain shift）问题，如图1和图2。作者称本文是首次将域分布差异问题引入视觉跟踪领域。
针对这一问题，本文提出一种域自适应方法，包括Pixel Domain Adaptation (PDA) 和 Semantic Domain Adaptation (SDA)。PDA分别对（不同域的）模板和搜索图像的特征对齐，消除天气、光照等引起的像素级域偏移；SDA将（不同域的）跟踪目标的特征表达对齐，以消除语义级的域偏移。二者均通过对抗训练的方式学习域分类器，域分类器强制网络学习域不变的特征表达，从而实现域自适应。
最后作者在有雾和红外序列两个不同域的数据集上进行了验证。


        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/44-DASiamRPN/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-06-30
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Data-augmentation/ >Data augmentation</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Self-supervised/ >Self-supervised</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/43-Crop-Transform-Paste/">Crop-Transform-Paste: Self-Supervised Learning for Visual Tracking</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
Motivation现有的跟踪方法依赖大量高质量标注数据集训练，但很多复杂挑战场景并未出现在训练数据中。为了避免昂贵的人工标注，本文提出一种自监督学习方式。作者设计了Crop-Transform-Paste，通过模拟跟踪过程中各种场景变化，合成足够的训练数据。在合成数据中目标状态是已知的，因此无需人工标注。
本文提出的自监督方法可以无缝集成到任何现有的跟踪框架中进行训练，实验证明提出的方法：1）在少样本跟踪场景中取得比监督学习更好的性能；2）能够处理目标形变、遮挡、背景干扰等各种挑战；3）可以与监督学习相结合，进一步提高性能。
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/43-Crop-Transform-Paste/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-06-08
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/%E7%BB%BC%E8%BF%B0/ >综述</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/%E5%BC%BA%E5%8C%96%E5%AD%A6%E4%B9%A0/ >强化学习</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/42-rl-tracking/">强化学习在目标跟踪中的应用</a>
      </div>
      
      <div class="index-article-content">
        
          强化学习讨论的问题是智能体(agent) 如何在一个复杂不确定的环境(environment) 里去最大化它能获得的奖励。 今天介绍三篇关于强化学习在目标跟踪中的工作，分别利用强化学习来决策使用的特征，多个跟踪器的切换以及是否更新模板。
论文列表：

Learning Policies for Adaptive Tracking with Deep Feature Cascades
Online Decision Based Visual Tracking via Reinforcement Learning
Fast Template Matching and Update for Video Object Tracking and Segmentation

        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/42-rl-tracking/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-05-26
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/IJCAI2021/ >IJCAI2021</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/41-siamrcr/">SiamRCR: Reciprocal Classification and Regression for Visual Object Tracking</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
本文解决的是老生常谈的分类和回归不匹配的问题。作者提出在分类和回归之间建立双向的连接，可以动态地重新加权每个正样本的损失。此外，增加了一个定位分支用于预测定位精度，可以在推理过程中替代回归辅助连接(regression assistance link)，使得训练和测试更加一致。最终运行速度为65FPS。
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/41-siamrcr/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-05-19
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/CVPR2021/ >CVPR2021</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Natural-Language/ >Natural Language</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/40-snlt/">&#39;Siamese Natural Language Tracker: Tracking by Natural Language Descriptions with Siamese Trackers&#39;</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
Introduction本文研究的课题为tracking by natural language(NL) 。人类的学习过程是视觉和语言共同作用的，而在基于外观的跟踪过程中引入语言描述同样可以使得跟踪器更加精确、灵活和鲁棒（如图1的例子）。因此，本文将孪生跟踪器与语言描述结合，将语言描述编码成一个卷积核嵌入到孪生框架中（SNL-RPN），并将视觉和语言的预测进行动态聚合（Dynamic Aggregation），为tracking by NL任务提供了一个新的baseline。具体贡献总结如下：

提出一种新的tracking by NL的baseline，Siamese Natural Language Region Proposal Network (SNL-RPN)；
提出了一种基于视觉和语言预测的动态聚合（Dynamic Aggregation），将SNL-RPN转换为Siamese Natural Language Tracker (SNLT)；
在NL标注的数据集上将孪生跟踪器的性能提升了3-7个百分点，并且性能超过其他NL tracker，速度为50FPS。

        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/40-snlt/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-05-10
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/%E6%A8%A1%E5%9E%8B%E6%9B%B4%E6%96%B0/ >模型更新</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Data-augmentation/ >Data augmentation</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/ICME2021/ >ICME2021</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/39-deepmix/">DeepMix: Online Auto Data Augmentation for Robust Visual Object Tracking</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
Motivation
通过历史帧样本在线更新目标模型对跟踪具有重要意义。最近的研究主要集中在构建有效的更新方法，而忽略了用于学习判别模型的训练样本；
本文提出DeepMix，对历史帧样本的特征进行在线增广，从而强化模型的在线更新能力。具体包括通过object-aware filtering在线增强历史样本，以及通过离线训练的MixNet混合多个样本进行数据增强；
最后通过三个典型的跟踪器DiMP, DSiam和SiamRPN++验证提出的方法。

        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/39-deepmix/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-05-10
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/FSL/ >FSL</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/arxiv/ >arxiv</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/%E6%A8%A1%E5%9E%8B%E6%9B%B4%E6%96%B0/ >模型更新</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/38-siamtol/">Updatable Siamese Tracker with Two-stage One-shot Learning</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
Motivation本文主要解决孪生跟踪器缺乏在线更新能力的问题。传统的线性模板更新难以处理目标的不规则变化和采样噪声，造成跟踪漂移；而一些像updatenet采用网络进行自适应更新的方法，其更新网络和跟踪器在结构上是分离的，不能从联合训练中受益，也不能以最佳方式合作。
为了实现高质量的自适应更新，作者从 one-shot learning的角度提出一个two-stage one-shot learner，利用不同阶段的目标样本预测分类器的参数。具体来说，除了使用模板分支来学习初始目标特征，作者额外增加了一个输入分支用于捕获后续帧中的目标特征，并设计了一个残差模块来使用这些特征更新初始模板。通过残差学习融合多帧目标特征，跟踪器可以用更合适的模板跟踪当前目标。此外，还设计了一种多方面(multi-aspect)的训练损失来避免过拟合。
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/38-siamtol/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-05-08
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/FSL/ >FSL</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/arxiv/ >arxiv</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/tracking/37-siamrn/">Learning to Filter: Siamese Relation Network for Robust Tracking</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
Motivation
Siamese跟踪器的训练设置只是在大量的图像对中匹配同一个目标，而忽略了它们之间的区别，因此对相似干扰物的判别能力不够好；
分类和回归是独立优化的，造成二者之间的不匹配。具体来说，分类置信度最高的位置对应的目标框可能并不是最准确的（类似检测中general focal loss等文章的观点）。

针对上述问题，作者提出了两个模块：

Relation Detector (RD) 构造了一个2-way-1-shot的少样本学习方法来过滤干扰物。并且使用对比训练策略 (contrastive training strategy)，不仅学习匹配相同的目标，而且学习如何区分不同的目标 ；
Refinement Module (RM) 将RD和分类分支获得的信息进行整合，细化跟踪结果。RM可以联合优化分类分支和回归分支，缓解两个分支的不匹配。

        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/tracking/37-siamrn/">Read More</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
   
</v-card>  


  <div id="pagination" class="text-center">
    <v-pagination 
      v-model="currentPage" 
      :length=2 
      @input="PageChange" 
      prev-icon="chevron_left"
      next-icon="chevron_right"
      color="secondary"
    ></v-pagination>
  </div>
         
                            <div id="mobile-footer" class="d-block d-md-none">
                                <v-divider></v-divider>
                                <div id="mobile-footer-content">
                                    <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a> &nbsp; Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
                                    <span> &copy; 2020 - 2021 zjp</span>
                                </div>
                            </div>                   
                        </v-col>                                            
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>

<script src="/js/main.js"></script>




    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>







    
        <script data-ad-client="ca-" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    


</body>
</html>