<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    
    <meta name="referrer" content="no-referrer-when-downgrade">
    
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="baidu-site-verification" content="code-8gGOibEXMj" />
    <meta name="google-site-verification" content="r3Cw4aIKBFXcYVnB8J-bxaQozYY6BHsoE3q5soJN3Po" />
    <meta name="msvalidate.01" content="C5E4D0D01152A883DDA407CDCE62E1DA" />
    <meta name='description' content='Computer vision paper sharing'>
    <script>if (/*@cc_on!@*/false || (!!window.MSInputMethodContext && !!document.documentMode)) window.location.href="https://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); </script>
    
    
        <link rel="shortcut icon" href="/images/avatar.jpg">
    
     
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.2.30/dist/vuetify.min.css" rel="stylesheet">
    
<link rel="stylesheet" href="/css/main.css">

    
    







    
    
    
        <script>
  if (typeof MathJax === 'undefined') {
    window.MathJax = {
      loader: {
        
            load: ['[tex]/mhchem'],
        
        source: {
          '[tex]/amsCd': '[tex]/amscd',
          '[tex]/AMScd': '[tex]/amscd'
        }
      },
      tex: {
        inlineMath: {'[+]': [['$', '$']]},
        
            packages: {'[+]': ['mhchem']},
        
        tags: 'ams'
      },
      options: {
        renderActions: {
          findScript: [10, doc => {
            document.querySelectorAll('script[type^="math/tex"]').forEach(node => {
              const display = !!node.type.match(/; *mode=display/);
              const math = new doc.options.MathItem(node.textContent, doc.inputJax[0], display);
              const text = document.createTextNode('');
              node.parentNode.replaceChild(text, node);
              math.start = {node: text, delim: '', n: 0};
              math.end = {node: text, delim: '', n: 0};
              doc.math.push(math);
            });
          }, '', false],
          insertedScript: [200, () => {
            document.querySelectorAll('mjx-container').forEach(node => {
              let target = node.parentNode;
              if (target.nodeName.toLowerCase() === 'li') {
                target.parentNode.classList.add('has-jax');
              }
            });
          }, '', false]
        }
      }
    };
    (function () {
      var script = document.createElement('script');
      script.src = 'https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js';
      script.defer = true;
      document.head.appendChild(script);
    })();
  } else {
    MathJax.startup.document.state(0);
    MathJax.texReset();
    MathJax.typeset();
  }
</script>
          

    
    
    
    
    <title>
          
            CV home
        
    </title>
    
    
<meta name="generator" content="Hexo 5.4.0"></head>

<body>
    <div id="app">
        <v-app>
            <v-content id="page">
                <v-container fluid>
                    <v-row>
                        <v-col cols="2" class="d-none d-md-block">
                            <div id="sidebar" class="float-right">
    <a href="/" rel="home">
        <v-avatar size=96>
            <img id="logo" src="/images/avatar.jpg">     
        </v-avatar> 
    </a>
    <v-divider></v-divider>
    <div class="mini-menu">
        <v-btn icon href="/">
            <v-icon>home</v-icon>
        </v-btn>
        <v-btn icon href="/categories/">
            <v-icon>folder</v-icon>
        </v-btn>
        <v-btn icon href="/tags/">
            <v-icon>bookmark</v-icon>
        </v-btn>
        <v-btn icon @click="SetNightMode">
            <v-icon>{{ nightMode }}</v-icon>
        </v-btn>
    </div>
    <v-list id="main-menu" class="font-weight-bold" flat>
        
            
            <v-list-item href="/archives/" link>
            <v-list-item-icon><v-icon>archive</v-icon></v-list-item-icon>
            <v-list-item-content>
                归档
            </v-list-item-content>
            </v-list-item>
        
            
            <v-list-item href="https://space.bilibili.com/5567932/article" link>
            <v-list-item-icon><v-icon>rss_feed</v-icon></v-list-item-icon>
            <v-list-item-content>
                b站专栏
            </v-list-item-content>
            </v-list-item>
        
    </v-list>
    <v-divider></v-divider>
    
        <v-list id="sub-menu" class="font-weight-medium" dense>
            
                
                    <v-list-item href="/categories/tracking/" link>
                        <v-badge :value="menuHover" transition="slide-y-transition" inline content="7" >
                            <v-hover v-model="menuHover">
                                <v-list-item-content>
                                    <span>目标跟踪</span>                              
                                </v-list-item-content>                           
                            </v-hover>
                        </v-badge>
                    </v-list-item>
                
            
        </v-list>    
    

    <div id="footer">
        <div class="footer-social">
            
                
                <v-btn icon href="mailto:zjphust@gmail.com" target="_blank">
                    <v-icon>fas fa-envelope</v-icon>
                </v-btn>
            
                
                <v-btn icon href="https://github.com/kongbia" target="_blank">
                    <v-icon>fab fa-github</v-icon>
                </v-btn>
            
        </div>
        <v-divider></v-divider>
        <div class="footer-content">
            
                <span id="busuanzi_container_site_uv" style="display: none;"> 
                    总访客量 <span id="busuanzi_value_site_uv"></span>
                </span>
                <br>
            
            <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a></span><br>
            <span>Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
            <span>
                &copy; 2021 - 2021 
                zjp
            </span>
        </div>
    </div>
</div>

                        </v-col>
                        <v-col cols="12" md="10">
                            <v-row>
  <v-col cols="12" md="8" align-self="end">
    <div id="site-header">
      <div id="site-title">
        <a href="/" rel="home">CV home</a>
      </div>
      <div id="site-description"></div>
      <div id="mobile-menu" class="d-block d-md-none">
        <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-inner-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,true)"></v-text-field>
        <div class="mobile-mini-menu">
          <v-btn icon href="/">
              <v-icon>home</v-icon>
          </v-btn>
          <v-btn icon href="/categories/">
              <v-icon>folder</v-icon>
          </v-btn>
          <v-btn icon href="/tags/">
              <v-icon>bookmark</v-icon>
          </v-btn>
          <v-btn icon @click="SetNightMode">
              <v-icon>{{ nightMode }}</v-icon>
          </v-btn>
          
            
            <v-btn icon href="/archives/">
              <v-icon>archive</v-icon>
            </v-btn>
          
            
            <v-btn icon href="https://space.bilibili.com/5567932/article">
              <v-icon>rss_feed</v-icon>
            </v-btn>
          
        </div>
      </div>    
    </div>
  </v-col>  
  <v-col cols="4" align-self="end" class="d-none d-md-block">
    <v-col align-self="end">
      <v-text-field label="请输入关键字" data-src="search.xml" v-model="searchHeaderValue" prepend-icon="search" clearable clear-icon="clear" @keydown.enter="EnterSearch(searchHeaderValue,true)"></v-text-field>
    </v-col> 
  </v-col>
</v-row>

                            <v-card class="elevation-2 index-card">
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-04-28
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/arxiv/ >arxiv</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/04/28/tracking/36-learning-target-candidate-association/">Learning Target Candidate Association to Keep Track of What Not to Track</a>
      </div>
      
      <div class="index-article-content">
        
          
论文 代码
MotivationMartin参与的新作，出发点和之前的KYS类似，均指出仅外观模型不足以区分目标和干扰物，因此需要对所有潜在目标保持跟踪。不同的是KYS是通过一个传播模块隐式地跟踪所有对象，最后作用于外观模型的输出来抑制干扰响应；而本文则是借助SuperGlue显式地匹配帧间所有的候选对象，构建跟踪链，有点多目标跟踪的意思，可解释性也更强。

主流跟踪方法大多聚焦于建立强大的外观模型，然而仅依靠外观模型对于干扰物的鲁棒性较差；
作者提出另一种思路，即对干扰物也保持跟踪。为此构建一个可学习的关联网络（受启发自SuperGlue），允许在帧与帧之间传播所有候选目标；
针对跟踪数据集没有对干扰物标注的问题，提出了一种结合部分标注和自监督的训练策略。

        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/04/28/tracking/36-learning-target-candidate-association/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-04-27
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Siamese/ >Siamese</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/arxiv/ >arxiv</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/FSL/ >FSL</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/04/27/tracking/35-FSL-tracking/">Real-Time Visual Object Tracking via Few-Shot Learning</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
跟踪可以看成是一个特殊的 few-shot learning (FSL) 问题，本文提出了一个通用的两阶段框架，它能够使用大量的FSL算法并且保持较快的速度。第一阶段通过SiamRPN生成若干潜在候选框，第二阶段通过少样本分类的思想对候选框进行分类。按照这种coarse-to-fine结构，第一阶段为第二阶段提供稀疏的样本，在第二阶段可以更方便、高效地进行多种FSL算法。作者选取了几种基于优化的少样本学习方法进行证明。此外，该框架可将大多数FSL算法直接应用到视觉跟踪中，使研究人员能够在这两个领域相互交流。
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/04/27/tracking/35-FSL-tracking/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-04-27
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Siamese/ >Siamese</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/%E6%97%B6%E5%BA%8F/ >时序</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/arxiv/ >arxiv</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/04/27/tracking/34-stmtrack/">STMTrack: Template-free Visual Tracking with Space-time Memory Networks</a>
      </div>
      
      <div class="index-article-content">
        
          
论文
Motivation离线训练的Siamese跟踪器已经充分完全挖掘了第一帧模板信息，但它们抵抗目标外观变化的能力依然有限。现有的模板更新机制大多依赖耗时的数值优化或复杂的手工设计策略，这阻碍了它们的实时跟踪和实际应用。本文提出了一种基于时空记忆网络的跟踪框架，该框架能够充分利用与目标相关的历史信息，从而更好地适应跟踪过程中的外观变化。这样避免了模板更新，所以叫template-free。主要创新点包括：

引入记忆机制存储目标的历史信息，引导跟踪器聚焦在当前帧中信息最丰富的区域；
memory network的像素级相似度计算能够生成更精确的目标框。

运行速度37 FPS
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/04/27/tracking/34-stmtrack/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-04-26
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Anchor-free/ >Anchor-free</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/Siamese/ >Siamese</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/04/26/tracking/3-anchorfree-siamese/">Anchor Free的孪生目标跟踪</a>
      </div>
      
      <div class="index-article-content">
        
          Anchor-free+孪生网络做跟踪在2020年非常火爆，相关笔记在b站记录。本文主要对其整合进行简单归纳。
[Note3] Anchor Free的目标跟踪 - 哔哩哔哩专栏 (bilibili.com)
[Note17] Anchor-free的目标跟踪(下) - 哔哩哔哩专栏 (bilibili.com)
跟踪任务可以看成是分类任务与状态估计任务的结合。分类任务的目的是精确定位目标的位置，而状态估计获得目标的姿态（即目标框）。SiamFC++一文将当前的跟踪器按照不同状态估计的方法分为三类：
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/04/26/tracking/3-anchorfree-siamese/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-04-24
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/04/24/tracking/2-detection-in-tracking/">目标检测框架在目标跟踪中的应用</a>
      </div>
      
      <div class="index-article-content">
        
          从SiamRPN将跟踪问题定义为one-shot detection任务之后，出现了大量将检测组件由于跟踪的研究。不过Siamese系列一个很大的问题在于其本质仍然是一个模板匹配问题，网络关注的是寻找与target相似的东西，而忽视了区分target和distractor的判别能力，这正是目标检测任务所擅长的。目标检测和目标跟踪的关键差异在于检测是一个class-level的任务，而跟踪是一个instance-level的任务（即检测只关注类间差异而不重视类内差异，跟踪需要关注每一个实例，同时跟踪的类别是不可知的）。
本篇笔记关注如何将目标检测框架应用在跟踪中，主要介绍其思想，细节部分不做过多描述，记录论文包含：
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/04/24/tracking/2-detection-in-tracking/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-04-24
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/CVPR2020/ >CVPR2020</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/04/24/tracking/1-siamrcnn/">Siam R-CNN: Visual Tracking by Re-Detection</a>
      </div>
      
      <div class="index-article-content">
        
          Siam R-CNN是亚琛工业大学&amp;牛津大学联合推出的，核心是通过重检测进行视觉跟踪，并构建了基于轨迹的动态规划算法，建模被跟踪对象和潜在干扰对象的完整历史。效率方面，该方法可以在 ResNet-101 上达到 4.7 FPS，在 ResNet-50 上达到 15 FPS 。
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/04/24/tracking/1-siamrcnn/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
  
    <article class="index-article">
      
      <div class="index-article-header">
        <v-row no-gutters>
          <v-col cols="auto">
            <div class="index-article-header-date font-weight-medium">
              2021-04-23
            </div>
          </v-col>
          <v-spacer></v-spacer>
          <v-col cols="auto">
            
              <v-card flat color="secondary" tile class="index-article-header-tag  font-weight-medium">
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/transform/ >transform</a>
                  </span>
                
                  <span class="index-article-header-tag-content">
                    <v-icon>fas fa-tag</v-icon>
                    <a rel="tag" href = /tags/CVPR2021/ >CVPR2021</a>
                  </span>
                
              </v-card>
            
          </v-col>
        </v-row>
        <span>
          
            <a class="index-article-header-category font-weight-bold" href="/categories/tracking/">目标跟踪></a>
           
        </span> 
        <a class="index-article-header-title font-weight-medium" href="/2021/04/23/tracking/33-transform-tracking/">Transform与目标跟踪</a>
      </div>
      
      <div class="index-article-content">
        
          Transform在视觉领域遍地开花，终于目标跟踪也没能逃过。并行的长距离依赖（空间和时间皆可）对于目标跟踪似乎有着天然的优势，本篇笔记简要概述今年CVPR2021关于Transform在目标跟踪中的应用，主要介绍动机和结构，细节和实验部分以后有空再补充。
        
      </div>
      
      <div class="index-article-readmore ">
        <v-btn text href="/2021/04/23/tracking/33-transform-tracking/">阅读更多</v-btn>
      </div>
      <v-divider></v-divider>
    </article> 
   
</v-card>  

         
                            <div id="mobile-footer" class="d-block d-md-none">
                                <v-divider></v-divider>
                                <div id="mobile-footer-content">
                                    <span>Theme: <a target="_blank" rel="noopener" href="https://github.com/kb1000fx/hexo-theme-insulin">Insulin</a> &nbsp; Powered by <a target="_blank" rel="noopener" href="https://hexo.io/">Hexo</a></span><br>
                                    <span> &copy; 2021 - 2021 zjp</span>
                                </div>
                            </div>                   
                        </v-col>                                            
                    </v-row>
                </v-container>
            </v-content>
        </v-app>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.2.30"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-base64@3.5.2/base64.min.js"></script>

<script src="/js/main.js"></script>




    <script async src="https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>








</body>
</html>